@using HotCat_Proje.Models.Entity
@model List<Orders>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        @foreach (var masa in (IEnumerable<SelectListItem>)ViewBag.masalar)
        {
            <div class="panel panel-default col-sm-4">
                <div class="panel-heading"> <b>Masa No : @masa.Text</b></div>
                <div class="panel-body">

                    <a href="/Orders/SiparisGir/@masa.Value" class="btn btn-primary">Sipariş Ekle</a>
                </div>
            </div>
        }
    </div>
</div>
      
