
@{
    ViewBag.Title = "NewTable";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Masa NO</label>
        <input type="text" class="form-control" name="code" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Masa Ekle</button>
    </div>
</form>

