@using HotCat_Proje.Models.Entity
@model List<Tables>
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Masa ID</th>
        <th>Masa NO</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var tab in Model)
        {
            <tr>
                <th>@tab.TableID</th>
                <td>@tab.code</td>
                <td>@Html.ActionLink("SİL", "SIL", new { id = tab.TableID }, new { @class = "btn btn-danger", onclick = "return confirm ('Silme işleminden eminmisiniz?')" })</td>
                <td><a href="/Tables/GetTable/@tab.TableID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Tables/NewTable/" class="btn btn-primary">Yeni Masa Ekle</a>

