@using HotCat_Proje.Models.Entity
@model List<Categories>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var ctrg in Model)
        {
            <tr>
                <th>@ctrg.CategoryID</th>
                <td>@ctrg.Category_Name</td>
                <td><a href="/Category/GetCategory/@ctrg.CategoryID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Category/NewCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>
