@model HotCat_Proje.Models.Entity.Categories
@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="Category_Name" />
    </div>*@
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m => m.Category_Name, new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.Category_Name,"", new {@style="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info"id="btn1">Kategori Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Kategori Ekleme İşlemi Başarılı.');
        });
    </script>
</form>

