@using HotCat_Proje.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<subCategories>


@{
    ViewBag.Title = "subCategories";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Alt Kategori ID</th>
        <th>Alt Kategori Adı</th>
        <th>Kategori Adı</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var sub in Model)
        {
            <tr>
                <th>@sub.Subcategory_ID</th>
                <td>@sub.SubCategoryName</td>
                <td>@sub.Categories.Category_Name</td>
                <td><a href="/subCategory/GetSubCategory/@sub.Subcategory_ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,page => Url.Action("subCategories",new {page}))
<a href="/Subcategory/NewsubCategories/" class="btn btn-primary">Yeni Alt Kategori Ekle</a>


